<ion-content>
  <div class="myappointment-background">
    <ion-button (click)="closeModal()" fill="clear">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>

    <div class="myappointment">
      <img src="/assets/img/doctor-avatar.png">
      <h4>Informações da Consulta</h4>
    </div>
  </div>

  <div class="container">
    <ion-list>
        <ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img [src]="doctorImg" />
            </ion-avatar>
            <ion-label>{{ firstName }}</ion-label>
            <span>{{ doctorSpeciality }}</span>           
          </ion-item>
        </ion-item>
        <ion-item>
          <ion-label>Marcado para: {{ dayAt | date: 'short' }}</ion-label>
        </ion-item>
    </ion-list>
  </div>

  <ion-button (click)="onClick()" expand="full" color="danger" class="editAppointment">
    Editar
  </ion-button>
</ion-content>
