<ion-content>
  <div class="appointment-background">
    <ion-button [routerLink]="['/home']" fill="clear">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>

    <div class="appointment-type">
      <img src="/assets/icon/health.svg">
      <h4>Seu histórico de saúde</h4>
    </div>
  </div>

  <div class="container">
    <ion-list>
      <ion-item class="ion-text-center" lines="none">
        <ion-label color="medium">Nenhuma consulta registrada...</ion-label>
      </ion-item>
    </ion-list>

    <ion-list class="appointments">
      <ion-item (click)="showModal('pills')" class="appointment-menu">
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-label>
          <h3>Meus Medicamentos</h3>
          <h6>Medicamentos cadastrados e comprados</h6>
        </ion-label>
      </ion-item>

      <ion-item (click)="showModal('vaccine')" class="appointment-menu">
        <ion-icon slot="start" name="eyedrop"></ion-icon>
        <ion-label>
          <h3>Minhas Vacinas</h3>
          <h6>Carteirinha de vacinação</h6>
        </ion-label>
      </ion-item>

      <ion-item (click)="showModal('check-up')" class="appointment-menu">
        <ion-icon slot="start" name="id-card"></ion-icon>
        <ion-label>
          <h3>Meus Exames</h3>
          <h6>Acompanhamento de exames realizados</h6>
        </ion-label>
      </ion-item>

      <ion-item (click)="showModal('professionals')" class="appointment-menu">
        <ion-icon slot="start" name="person-circle"></ion-icon>
        <ion-label>
          <h3>Meus Profissionais</h3>
          <h6>Veja sua lista de profissionais já consultado</h6>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-button (click)="onClick()" expand="full" color="danger" class="deleteHistory">
    Limpar Historico
  </ion-button>
</ion-content>
