.container {
  position: absolute;
  top: 28%;
  left: 2%;
  right: 2%;

  box-shadow: var(--ion-box-shadow-container);

  z-index: 5;

  border-radius: 10px;

  ion-toolbar {
    border-radius: 10px 10px 0 0;

    & ion-button {
      & ion-icon.dark {
        color: #333;
      }
    }
  }

  ion-list {
    border-radius: 0 0 10px 10px;

    ion-item {
      --border-color: rgba(0, 0, 0, 0.125);
      --border-width: 1px;
      --border-style: solid;
      --border-radius: 10px;
      --padding-top: 5%;
      --padding-bottom: 5%;
      box-shadow: var(--ion-box-shadow);

      &~ion-item {
        margin-top: 10px;
      }
    }
  }
}
